# IMDb top250 web crawler

## Import some necessary packages

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url='https://www.imdb.com/chart/top?ref_=nv_mv_250'
html_text=requests.get(url)
html_text.encoding='utf-8'
bs = BeautifulSoup(html_text.content,'html.parser')

## Get some data

In [2]:
getall=bs.find('tbody',{"class":"lister-list"})
position=getall.find_all('td',attrs={"class":"titleColumn"})
position
df = []
for i in range(0,len(position)):
     df.append(position[i].text)

con=getall.find_all('a')

link=[]
for i in range(0,len(position)*2):
    #print(bb[i].text)
    link.append('https://www.imdb.com'+con[i].get('href'))

## Clean data&reshape Dataframe

In [3]:
df=pd.DataFrame(df)
dat=df[0].str.split('\n',expand=True)
dat=dat.rename({0: 'hi',
                1: 'ranking',
                2: 'moive',
                3: 'release_year',
                4: 'bye'},axis=1)
new_dat=dat.drop(['hi','bye'],axis=1)
#new['ranking'].str.strip()

## Use regular expression to deal with '(year)'

In [4]:
import re
year = re.compile(r'\d\d\d\d', flags=re.IGNORECASE)
lis=[]
for i in range(0,len(new_dat)):
    f=year.findall(new_dat['release_year'][i])
    lis.append(f)

## Deal with each moive website link

In [5]:
link=pd.DataFrame(link)
link=link.drop_duplicates()
link=link.reset_index(drop=True)
link

                                          0
0     https://www.imdb.com/title/tt0111161/
1     https://www.imdb.com/title/tt0068646/
2     https://www.imdb.com/title/tt0468569/
3     https://www.imdb.com/title/tt0071562/
4     https://www.imdb.com/title/tt0050083/
..                                      ...
245   https://www.imdb.com/title/tt0101414/
246   https://www.imdb.com/title/tt0083987/
247   https://www.imdb.com/title/tt1454029/
248   https://www.imdb.com/title/tt4016934/
249  https://www.imdb.com/title/tt15097216/

[250 rows x 1 columns]

## Complete data

In [6]:
new_dat['release_year']=pd.DataFrame(lis)
new_dat['link']=pd.DataFrame(link)
new_dat

,ranking,moive,release_year,link
0,1.0,刺激1995,1994,https://www.imdb.com/title/tt0111161/
1,2.0,教父,1972,https://www.imdb.com/title/tt0068646/
2,3.0,黑暗騎士,2008,https://www.imdb.com/title/tt0468569/
3,4.0,教父第二集,1974,https://www.imdb.com/title/tt0071562/
4,5.0,十二怒漢,1957,https://www.imdb.com/title/tt0050083/
...,...,...,...,...
245,246.0,美女與野獸,1991,https://www.imdb.com/title/tt0101414/
246,247.0,甘地,1982,https://www.imdb.com/title/tt0083987/
247,248.0,姊妹,2011,https://www.imdb.com/title/tt1454029/
248,249.0,下女的誘惑,2016,https://www.imdb.com/title/tt4016934/
249,250.0,Jai Bhim,2021,https://www.imdb.com/title/tt15097216/